# Time Series Mini-Poject

### This project will explore and forcast the average temperature for Los Angeles, CA

In [1]:
import pandas as pd
import numpy as np

from datetime import timedelta, datetime
import matplotlib.pyplot as plt
import seaborn as sns

import env as ev

import warnings
warnings.filterwarnings("ignore")

#### Project Goals: 
The goal of this mini-project is to practice what I have learned at each stage of the pipeline throughout the time series module. Use the earth surface temperature data offered by Berkeley Earth through Kaggle.com. Select one location, could be a city or a state or something relatively similar in size and analyze the patterns in temperature over time. Then model those patterns to forecast temperature into the future.

- Link to the Data: https://www.kaggle.com/berkeleyearth/climate-change-earth-surface-temperature-data

In [3]:
# Importing the csv that contains temperature data for major cities
city_wx = pd.read_csv('GlobalLandTemperaturesByMajorCity.csv')

In [4]:
city_wx.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1849-01-01,26.704,1.435,Abidjan,Côte D'Ivoire,5.63N,3.23W
1,1849-02-01,27.434,1.362,Abidjan,Côte D'Ivoire,5.63N,3.23W
2,1849-03-01,28.101,1.612,Abidjan,Côte D'Ivoire,5.63N,3.23W
3,1849-04-01,26.140,1.387,Abidjan,Côte D'Ivoire,5.63N,3.23W
4,1849-05-01,25.427,1.200,Abidjan,Côte D'Ivoire,5.63N,3.23W

In [9]:
# Creating a new dataframe for Los Angeles weather
la_wx = city_wx[city_wx.City =='Los Angeles']

In [10]:
la_wx.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
131846,1849-01-01,8.819,2.558,Los Angeles,United States,34.56N,118.70W
131847,1849-02-01,9.577,1.970,Los Angeles,United States,34.56N,118.70W
131848,1849-03-01,11.814,2.173,Los Angeles,United States,34.56N,118.70W
131849,1849-04-01,13.704,2.902,Los Angeles,United States,34.56N,118.70W
131850,1849-05-01,14.834,2.017,Los Angeles,United States,34.56N,118.70W